.container {
    display: block;
}

.card-product .img-wrap {
    border-radius: 3px 3px 0 0;
    overflow: hidden;
    position: relative;
    height: 220px;
    text-align: center;
}

.card-product .img-wrap img {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
}

.card-product .info-wrap {
    overflow: hidden;
    padding: 15px;
    border-top: 1px solid #eee;
}

.card-product .bottom-wrap {
    padding: 15px;
    border-top: 1px solid #eee;
    box-shadow: 0px 2px 5px 3px rgba(59, 47, 92, 0.25);
}

.card-product {
    border: none;
    box-shadow: 0px 2px 5px 3px rgba(59, 47, 92, 0.25);
}

figcaption {
    padding: 1em;
}